body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.testimonial {
  background-color: #F8FAFC;
  border: none;
  margin: 0.75rem 0;
}

.project {
  background-color: #F8FAFC;
  border: none;
}